{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>

  
    {{ $year := .Title }}
    {{ range $date, $pages := .Site.Taxonomies.month }}
    {{ if in $date $year }}
      {{ $month := index (split $date "/") 1 }}
      {{ $fdate := dateFormat "January 2006" (print $year "-" $month "-01") }}
      {{ $tmonth := index (split $fdate " ") 0 }}
    <ul><li><a class="source" href="{{ "/date/" | relLangURL }}{{ $date | urlize }}">{{ $tmonth }}</a></li></ul>
    {{ end }}
    {{ end }}

    <ul class="patterns-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            {{ .Title }}</a> {{ with .Params.authors }}&mdash;
          {{ range . }}
              {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
          {{ end }}
    {{ end }}
        </h2>

        <div class="tags">
          {{ partial "periodical.html" . }}
        </div>  

        <a href="{{ .RelPermalink }}">   
    {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:330px;max-height:700px;margin-top:1em">{{ end }}
    <div style="margin-top:1em;text-align:justify">
        {{ if .Params.postsummary }}
        {{ .Params.postsummary | markdownify }}
        {{ else }}
        {{ .Summary }}
        {{ end}}
    </div>
</a>
  </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
