{{ define "main" }}
  <main id="main">
    <h1>
      {{ .Title }}
    </h1>
<br>
    {{ with .Params.authors }}
      <div class="tags">
        <strong aria-hidden="true">Author: </strong>
        <ul aria-label="tags">
          {{ range . }}
            <li>
              {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ with .Params.periodicals }}
      <div class="tags">
        <ul aria-label="tags">
          {{ range . }}
              {{ $href := print ("periodicals/" | absLangURL) (. | urlize) "/" }}
              <b>Source: </b><a href="{{ $href }}" class="source">{{ . }}</a>,
          {{ end }}
        </ul>
    {{ end }}
    {{ with .Params.volumes }}
        <ul aria-label="tags">
          {{ range . }}
              {{ $href := print ("volumes/" | absLangURL) (. | urlize) "/" }}
              <a class="source" href="{{ $href }}">Vol. {{ . }}</a>,
          {{ end }}
        </ul>
    {{ end }}
    {{ with .Params.issues }}
        <ul aria-label="tags">
          {{ range . }}
              {{ $href := print ("issues/" | absLangURL) (. | urlize) "/" }}
              <a class="source" href="{{ $href }}">No. {{ . }}</a>,
          {{ end }}
        </ul>
    {{ end }}
        {{ $dateFormat := $.Site.Params.dateFormat | default "January 2, 2006" }}
        {{ $publishDate := .Date }}
        {{ $publishDate.Format $dateFormat }}
      </div>


    <br />{{ with .Params.featured_image }}<a href="{{ . }}" class="img-link"><img src="{{ . }}" style="max-height:700px;max-width:350px"></a>{{ end }}
    {{ if ne .Params.toc false }}
      {{ partial "toc" . }}
    {{ end }}
    {{ .Content }}
<br>
<br>
<br>
    {{ if isset .Params "exlink" }}
	<a href="{{ .Params.exlink }}">link</a>
	<br>
	<br>
    {{ end }}
    {{ with .Params.tags }}
      <div class="tags">
        <strong aria-hidden="true">Tags: </strong>
        <ul aria-label="tags">
          {{ range . }}
            <li>
              {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

  </main>
{{ end }}
