{{ define "main" }}
  <main id="main">
    <h1><a class="source" href="/periodicals/{{ index (split .Title "/") 0 }}">{{ replace (index (split .Title "/") 0) "-" " " | title }}</a></h1>
    <h3 style="margin:1em 0 0 .5em">Vol. {{ replace (index (split .Title "/v") 1) "-" " " | title }}</h3>
    {{ .Content }}
    {{ $per := (index (split .Title "/") 0) | urlize }}
<ul style="margin-top:.2em">
      {{ range $iss, $pages := .Site.Taxonomies.issue }}
      {{ if in $iss $per }}
      <li><a class="source" href="{{ "/periodicals/" | relLangURL }}{{ $iss | urlize }}">No. {{ index (split $iss "/n") 1}}</a></li>
      {{ end }}
      {{ end }}
</ul>

    <ul class="patterns-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            {{ .Title }} {{ with .Params.authors }}&mdash;
          {{ range . }}
              {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
          {{ end }}
    {{ end }}

          </a>
        </h2>
        <a href="{{ .RelPermalink }}">
    {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:330px;max-height:700px">{{ end }}

        {{ if .Params.postsummary }}
        {{ .Params.postsummary | markdownify }}
        {{ else }}
        {{ .Summary }}
        {{ end}}</a>

      </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
