{{ define "main" }}
  <main id="main">

    {{ $per := index (split .Title "/") 0 }}
    {{ $a := newScratch }}
    {{ range shuffle (readDir "static/images/mastheads") }}
    {{ if in .Name $per }}
    {{ $a.Add "name" (slice .Name) }}
    {{ end }}
    {{ end }}
    {{ $b := split (trim (print ($a.Get "name")) "[]") " " }}
    {{ $mastfile := print "static/images/mastheads/" (index $b 0) }}
    {{ $mastimage := print "images/mastheads/" (index $b 0) }}

    <a class="source" href="/periodicals/{{ index (split .Title "/") 0 }}">
    {{ if fileExists $mastfile }}
    <img style="max-width:100%" src="{{ $mastimage | absURL }}" />
    {{else}}
    <h1>{{ replace (index (split .Title "/") 0) "-" " " | title }}</h1>
    {{end}}
    </a>

    {{if and (ne $per "periodicals") (fileExists (print "content/desc/" $per ".txt")) }}
    <div class="expandable-section">
        <button aria-expanded="false" data-expands="js-expandable">
          <span class="expandable-label" style="font-size:.8em">About</span>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 70.866142 70.866141">
            <g transform="translate(0 -981.5)">
              <rect style="stroke-width:0;fill:currentColor" height="48" width="8" y="993.36" x="30.051" class="up-strut" />
              <rect style="stroke-width:0;fill:currentColor" height="8" width="48" y="1013.4" x="10"/>
            </g>
          </svg>
        </button>
      <div id="js-expandable" style="font-size:.9em;text-align:justify" hidden>
        {{ readFile (print "desc/" $per ".txt") | markdownify }}
      </div>
    </div>
    {{ end }}

    <span style="font-size:.7em">Sort by:</span> <select id="sort" onchange="sortlist()">
      <option value="postrev">Date Posted (newest first)</option>
      <option value="post">Date Posted (oldest first)</option>
      <option value="pubrev">Date Published (newest first)</option>
      <option value="pub">Date Published (oldest first)</option>
    </select>   

    <select id="iss" onchange="ississ()" style="float:right;margin-left:5px">
        <option value="none">Select Issue</option>
            {{ range $iss, $pages := .Site.Taxonomies.issue }}
            {{ if in $iss $per }}
            {{ $issnum := index (split $iss "/n") 1}}
            <option value="{{ $issnum }}">No. {{ $issnum }}</option>
            {{ end }}
            {{ end }}
      </select>

<select id="vol" onchange="volvol()" style="float:right">
  <option value="none">Select Volume</option>
      {{ range $vol, $pages := .Site.Taxonomies.volume }}
      {{ if in $vol $per }}
      {{ $volnum := index (split $vol "/v") 1}}
      <option value="{{ $volnum }}">Vol. {{ $volnum }}</option>
      {{ end }}
      {{ end }}
</select>


    <div id="postrev"><ul class="patterns-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            {{ .Title }} {{ with .Params.authors }}&mdash;
          {{ range . }}
              {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
          {{ end }}
    {{ end }}

          </a>
        </h2>
        <div class="tags">
          {{ partial "issuedate.html" . }}
        </div>
        <a href="{{ .RelPermalink }}">
    {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:330px;max-height:700px;margin-top:1em">{{ end }}
    <div style="margin-top:1em;text-align:justify">
        {{ if .Params.postsummary }}
        {{ .Params.postsummary | markdownify }}
        {{ else }}
        {{ .Summary }}
        {{ end}}</div></a>
      </li>        
    {{ end }}
    </ul></div>

    <div id="post" style="display:none"><ul class="patterns-list">
      {{ range .Pages.ByPublishDate }}
        <li>
          <h2>
            <a href="{{ .Permalink }}">
              {{ .Title }} {{ with .Params.authors }}&mdash;
            {{ range . }}
                {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
                <a href="{{ $href }}">{{ . }}</a>
            {{ end }}
      {{ end }}
  
            </a>
          </h2>
          <div class="tags">
            {{ partial "issuedate.html" . }}
          </div>
          <a href="{{ .RelPermalink }}">
      {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:330px;max-height:700px;margin-top:1em">{{ end }}
      <div style="margin-top:1em;text-align:justify">
          {{ if .Params.postsummary }}
          {{ .Params.postsummary | markdownify }}
          {{ else }}
          {{ .Summary }}
          {{ end}}</div></a>
        </li>        
      {{ end }}
      </ul></div>

      <div id="pubrev" style="display:none"><ul class="patterns-list">
        {{ range .Pages.ByDate.Reverse }}
          <li>
            <h2>
              <a href="{{ .Permalink }}">
                {{ .Title }} {{ with .Params.authors }}&mdash;
              {{ range . }}
                  {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
                  <a href="{{ $href }}">{{ . }}</a>
              {{ end }}
        {{ end }}
    
              </a>
            </h2>
            <div class="tags">
              {{ partial "issuedate.html" . }}
            </div>
            <a href="{{ .RelPermalink }}">
        {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:330px;max-height:700px;margin-top:1em">{{ end }}
        <div style="margin-top:1em;text-align:justify">
            {{ if .Params.postsummary }}
            {{ .Params.postsummary | markdownify }}
            {{ else }}
            {{ .Summary }}
            {{ end}}</div></a>
          </li>        
        {{ end }}
        </ul></div>
  
        <div id="pub" style="display:none"><ul class="patterns-list">
          {{ range .Pages.ByDate }}
            <li>
              <h2>
                <a href="{{ .Permalink }}">
                  {{ .Title }} {{ with .Params.authors }}&mdash;
                {{ range . }}
                    {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
                    <a href="{{ $href }}">{{ . }}</a>
                {{ end }}
          {{ end }}
      
                </a>
              </h2>
              <div class="tags">
                {{ partial "issuedate.html" . }}
              </div>
              <a href="{{ .RelPermalink }}">
          {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:330px;max-height:700px;margin-top:1em">{{ end }}
          <div style="margin-top:1em;text-align:justify">
              {{ if .Params.postsummary }}
              {{ .Params.postsummary | markdownify }}
              {{ else }}
              {{ .Summary }}
              {{ end}}</div></a>
            </li>        
          {{ end }}
          </ul></div>
    

    </main>
{{ end }}
