{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul class="patterns-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            {{ .Title }} {{ with .Params.authors }}&mdash;
          {{ range . }}
              {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
          {{ end }}
    {{ end }}

          </a>
        </h2>
        <a href="{{ .RelPermalink }}">
    {{ with .Params.featured_image }}<img src="{{ . }}#center" style="max-width:35%">{{ end }}

        {{ if .Params.postsummary }}
        {{ .Params.postsummary | markdownify }}
        {{ else }}
        {{ .Summary }}
        {{ end}}</a>

      </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
