<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a class="logo" href="/" aria-label="{{ .Site.Title }} home page">
        <img src="{{ "images/logo.svg" | absURL }}" alt="">
      </a>
      <p class="library-desc">
        {{ with .Site.Params.description }}
          {{ . | markdownify }}
        {{ end }}
      </p>
    </div>
    {{ partial "nav.html" . }}

  <div class="center-image">
  <div class="inline">
    <a href="mailto:contact@socialistlegacy.com" class="img-link"><img src="/images/email.png"></a>
    <a href="https://www.facebook.com/socialistlegacy" class="img-link"><img src="/images/facebook.png"></a>
    <a href="https://twitter.com/socialistlegacy" class="img-link"><img src="/images/twitter.png"></a>
    <a href="https://www.instagram.com/socialistlegacy" class="img-link"><img src="/images/instagram.png"></a><br />
    <a href="https://soundcloud.com/socialistlegacy" class="img-link"><img src="/images/soundcloud.png"></a>
    <a href="https://www.youtube.com/channel/UCO9Le0GOjb76j0bjD48QofA" class="img-link"><img src="/images/youtube.png"></a>
    <a href="https://www.reddit.com/r/socialistlegacy/" class="img-link"><img src="/images/reddit.png"></a>
    <a href="https://www.patreon.com/socialistlegacy" class="img-link"><img src="/images/patreon.png"></a>
    
 </div>
 </div>

    </div>
   </header>
