<div style="margin-top:3rem">
<div id="postrev"><ul class="patterns-list">

  <div class="nofilter">
    {{ range .Pages.ByPublishDate.Reverse }}
  
    {{ partial "postlistitems.html" (dict "Page" . "sect" $.Section) }}
    
    {{ end }}</div>
  
  <div class="tagfilter" style="display:none">
  {{ range $name, $page := .Site.Taxonomies.tags }}

    <div class="filterterm {{ $name }}" style="display:none">
      {{ $name }}
      {{ range .Pages.ByPublishDate.Reverse }}
        {{ partial "postlistitems.html" (dict "Page" . "sect" $.Section) }}
      {{ end }}
    </div>
  {{ end }}
  </div>


</ul></div>

<div id="post" style="display:none"><ul class="patterns-list">
  <div class="nofilter">
    {{ range .Pages.ByPublishDate }}

    {{ partial "postlistitems.html" (dict "Page" . "sect" $.Section) }}

    {{ end }}</div>
  
    <div class="tagfilter" style="display:none">
    {{ range $name, $page := .Site.Taxonomies.tags }}
  
      <div class="filterterm {{ $name }}" style="display:none">
      {{ range .Pages.ByPublishDate }}
      {{ partial "postlistitems.html" (dict "Page" . "sect" $.Section) }}
      {{ end }}
      </div>
    {{ end }}
    </div>


</ul></div>

<div id="pubrev" style="display:none"><ul class="patterns-list">
  <div class="nofilter">
    {{ range .Pages.ByDate.Reverse }}

    {{ partial "postlistitems.html" (dict "Page" . "sect" $.Section) }}

    {{ end }}</div>
  
    <div class="tagfilter" style="display:none">
    {{ range $name, $page := .Site.Taxonomies.tags }}
  
      <div class="filterterm {{ $name }}" style="display:none">
      {{ range .Pages.ByDate.Reverse }}
      {{ partial "postlistitems.html" (dict "Page" . "sect" $.Section) }}
      {{ end }}
      </div>
    {{ end }}
    </div>


</ul></div>

<div id="pub" style="display:none"><ul class="patterns-list">
  <div class="nofilter">
    {{ range .Pages.ByDate }}

    {{ partial "postlistitems.html" (dict "Page" . "sect" $.Section) }}

    {{ end }}</div>
  
    <div class="tagfilter" style="display:none">
    {{ range $name, $page := .Site.Taxonomies.tags }}
  
      <div class="filterterm {{ $name }}" style="display:none">
      {{ range .Pages.ByDate }}
      {{ partial "postlistitems.html" (dict "Page" . "sect" $.Section) }}
      {{ end }}
      </div>
    {{ end }}
    </div>


</ul></div>

</div>
