{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <ul class="patterns-list">
    {{ range where .Site.RegularPages.ByPublishDate.Reverse "Type" "in" site.Params.mainSections}}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            {{ .Title }} {{ with .Params.authors }}&mdash;
          {{ range . }}
              {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
          {{ end }}
    {{ end }}

          </a>
        </h2>
    <a href="{{ .RelPermalink }}">   
    {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:325px;max-height:700px">{{ end }}
        {{ if .Params.postsummary }}
        {{ .Params.postsummary | markdownify }}
        {{ else }}
        {{ .Summary }}
        {{ end}}</a>

      </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
