{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <ul class="patterns-list">
    {{ range where .Site.RegularPages.ByPublishDate.Reverse "Type" "in" site.Params.mainSections}}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            {{ .Title }} {{ with .Params.authors }}&mdash;
          {{ range . }}
              {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
          {{ end }}
    {{ end }}
        </h2>
        {{ with .Params.issues }}<div class="tags">
          <ul aria-label="tags">
            {{ range . }}
              <li>
                {{ $href := print ("issues/" | absLangURL) (. | urlize) "/" }}
                <a href="{{ $href }}">{{ . }}</a>
              </li>
            {{ end }}
          </ul>
        </div>{{ end }}      
    
    <a href="{{ .RelPermalink }}">   
    {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:330px;max-height:700px;margin-top:1em">{{ end }}
    <div style="margin-top:1em;text-align:justify">
    {{ if .Params.postsummary }}
        {{ .Params.postsummary | markdownify }}
        {{ else }}
        {{ .Summary }}
        {{ end}}</a>
    </div>
      </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
