{{ define "main" }}
  <main id="main">
   {{ if not (in .Title "/") }}
   {{ else }} 
    {{ $month := index (split .Title "/") 1 }}
    {{ $year := index (split .Title "/") 0 }}
    {{ $date := dateFormat "January 2006" (print $year "-" $month "-01") }}
    {{ $tmonth := index (split $date " ") 0 }}
    {{ $tyear := index (split $date " ") 1 }}
    <h1>{{ $tmonth }} <a class="source" href="/date/{{ $year }}">{{ $tyear }}</a></h1>
    {{ end }}
    <ul class="patterns-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            {{ .Title }}</a> {{ with .Params.authors }}&mdash;
          {{ range . }}
              {{ $href := print ("authors/" | absLangURL) (. | urlize) "/" }}
              <a href="{{ $href }}">{{ . }}</a>
          {{ end }}
    {{ end }}
        </h2>
    {{ with .Params.issues }}<div class="tags">
      <ul aria-label="tags">
        {{ range . }}
          <li>
            {{ $href := print ("issues/" | absLangURL) (. | urlize) "/" }}
            <a href="{{ $href }}">{{ . }}</a>
          </li>
        {{ end }}
      </ul>
    </div>{{ end }}      
    <a href="{{ .RelPermalink }}">   
    {{ with .Params.featured_image }}<img src="{{ . }}" style="max-width:330px;max-height:700px;margin-top:1em">{{ end }}
    <div style="margin-top:1em;text-align:justify">
        {{ if .Params.postsummary }}
        {{ .Params.postsummary | markdownify }}
        {{ else }}
        {{ .Summary }}
        {{ end}}
    </div>
</a>
  </li>        
    {{ end }}
    </ul>
  </main>
{{ end }}
